<div class="page-header-fixed page-sidebar-closed-hide-logo page-content-white">
  <div class="page-wrapper">
    <div class="page-header navbar navbar-fixed-top">
      <div class="page-header-inner ">
        <div class="page-logo">
          <div class="menu-toggler sidebar-toggler">
            <span></span>
          </div>
        </div>
        <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse"
           data-target=".navbar-collapse">
          <span></span>
        </a>
        <div class="top-menu">
          <ul class="nav navbar-nav pull-right">
            <li class="dropdown dropdown-user">
              <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown"
                 data-close-others="true">
                <img alt="" class="img-circle" src="../assets/layouts/layout/img/avatar3_small.jpg"/>
                <span class="username username-hide-on-mobile"> Nick </span>
                <i class="fa fa-angle-down"></i>
              </a>
              <ul class="dropdown-menu dropdown-menu-default">
                <li>
                  <a href="page_user_profile_1.html">
                    <i class="fa fa-user"></i> My Profile </a>
                </li>
                <li class="divider"></li>
                <li>
                  <a href="page_user_login_1.html">
                    <i class="fa fa-sign-out"></i> Log Out </a>
                </li>
              </ul>
            </li>
            <li class="dropdown dropdown-quick-sidebar-toggler">
              <a href="javascript:;" class="dropdown-toggle">
                <i class="fa fa-s"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="page-container">
      <div class="page-sidebar-wrapper">
        <div class="page-sidebar navbar-collapse collapse" style="height: 100vh !important;">
          <ul class="page-sidebar-menu  page-header-fixed " data-keep-expanded="false" data-auto-scroll="true"
              data-slide-speed="200" style="padding-top: 20px">
            <li class="sidebar-toggler-wrapper hide">
              <div class="sidebar-toggler">
                <span></span>
              </div>
            </li>
            <li class="nav-item start active open">
              <a href="javascript:;" class="nav-link nav-toggle">
                <i class="fa fa-home"></i>
                <span class="title">Dashboard</span>
                <span class="selected"></span>
                <span class="arrow open"></span>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="page-content-wrapper">
        <div class="page-content">
          <div class="page-bar">
            <ul class="page-breadcrumb">
              <li>
                <a href="index.html">Home</a>
                <i class="fa fa-circle"></i>
              </li>
              <li>
                <span>Dashboard</span>
              </li>
            </ul>
          </div>
          <h1 class="page-title"> Admin Dashboard
            <small>statistics, charts, recent events and reports</small>
          </h1>
        </div>
      </div>
      <a href="javascript:;" class="page-quick-sidebar-toggler">
        <i class="icon-login"></i>
      </a>
    </div>
    <div class="page-footer">
      <div class="page-footer-inner"> 2016 &copy; QuestRooms</div>
    </div>
  </div>
</div>
