<div class="login">
  <div class="content">
    <!-- BEGIN LOGIN FORM -->
    <form class="login-form">
      <h3 class="form-title font-green">Sign In</h3>
      <div class="alert alert-danger display-hide">
        <button class="close" data-close="alert"></button>
        <span> Enter any username and password. </span>
      </div>
      <div class="form-group">
        <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
        <label class="control-label visible-ie8 visible-ie9">Username</label>
        <input class="form-control form-control-solid placeholder-no-fix"
               id="email"
               type="text"
               autocomplete="off"
               [(ngModel)]="form.email"
               placeholder="Username" name="email"/></div>
      <div class="form-group">
        <label class="control-label visible-ie8 visible-ie9">Password</label>
        <input class="form-control form-control-solid placeholder-no-fix"
               type="password"
               id="password"
               autocomplete="off"
               [(ngModel)]="form.password"
               placeholder="Password" name="password"/></div>
      <div class="form-actions">
        <button (click)="login()" type="submit" class="btn green uppercase">Login</button>
      </div>
    </form>
    <!-- END LOGIN FORM -->
  </div>
</div>
