<!-- BEGIN TOPBAR -->
<div class="topbar navbar-fixed-top">
  <a class="topbar-logo" target="_blank" href="http://www.keenthemes.com">
    <!--<img src="/assets/img/logo.png" alt="Logo">-->
  </a>

  <a class="topbar-purchase" data-hint="tooltip" data-placement="bottom"
     routerLink="/login" role="button">Login</a>

  <span class="topbar-sep"></span>

  <a class="topbar-link" data-hint="tooltip" data-original-title="Theme Documentation" data-placement="bottom"
     href="_documentation/index.html" target="_blank" role="button">Documentation</a>

  <span class="topbar-sep"></span>

  <a class="topbar-link" data-hint="tooltip" data-original-title="Keenthemes Developer Blog" data-placement="bottom"
     href="http://keenthemes.com/blog" target="_blank" role="button">Blog</a>
</div>
<!-- END TOPBAR -->
<!-- BEGIN BANNER -->
<div class="banner">
  <div class="container">

    <a data-hint="tooltip" data-original-title="Purchase Metronic today" data-placement="top"
       href="http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes"
       target="_blank">
      <img src="_start/img/metroniclogo.png" class="product-logo" align="center"></a>

    <h1 class="banner-title-main">The most <span class="banner-title-bold">complete &amp; trusted</span> admin theme
    </h1>
    <p class="banner-title-paragraph">Ultimate Multipurpose Admin Theme With <b>7 Unique Layouts</b>, Over 1,000 Pages
      <br/>
      100+ Integrated Plugins &amp; 1,500+ UI Components
    </p>
    <a data-hint="tooltip" data-original-title="Purchase Metronic today" data-placement="top"
       href="http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes"
       target="_blank">
      <span class="banner-quote">&#35;1 Selling Admin Theme Of All Time Trusted By Over 45,000 Professionals</span>
    </a>
    <br/>
    <a href="https://twitter.com/keenthemes" class="twitter-follow-button" data-show-count="true">Follow @keenthemes</a>
    <script>!function (d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
      if (!d.getElementById(id)) {
        js = d.createElement(s);
        js.id = id;
        js.src = p + '://platform.twitter.com/widgets.js';
        fjs.parentNode.insertBefore(js, fjs);
      }
    }(document, 'script', 'twitter-wjs');
    </script>
  </div>
  <div class="container" style="margin-top: 30px;">
    <h3 style="font-weight: 300">Watch Metronic's Video Introduction</h3>
    <div class="youtube" id="VIbMn0QHBlw" data-params="modestbranding=1&showinfo=0&controls=1&vq=hd720"
         style="margin: 20px auto 30px auto; width:840px;height:460px;"></div>
  </div>
</div>
<!-- END BANNER -->
<!-- BEGIN WIDGET BANNER -->
<div class="widget-banner">
  <div class="container">
    <div class="row">
      <div class="col-md-6 margin-bottom-30">
        <div class="widget-body">
          <div class="widget-layout">
            <h3 class="widget-title">Admin 1 - <span class="widget-subtitle">Default Layout</span></h3>
            <div class="btn-group widget-btn-list" role="group" aria-label="...">
              <a class="btn btn-default widget-btn" target="_blank" href="theme/admin_1/index.html" data-hint="tooltip"
                 data-original-title="Default Version">Default</a>
              <a class="btn btn-default widget-btn" target="_blank" href="theme/admin_1_rounded/index.html"
                 data-hint="tooltip" data-original-title="Rounded Corners Version">Rounded</a>
              <a class="btn btn-default widget-btn" target="_blank" href="theme/admin_1_angularjs/index.html"
                 data-hint="tooltip" data-original-title="AngularJS Version">AngularJS</a>
              <a class="btn btn-default widget-btn" target="_blank" href="theme/admin_1_material_design/index.html"
                 data-hint="tooltip" data-original-title="Material Design Version">Material</a>
              <div class="btn-group">
                <a class="btn btn-default widget-btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                   aria-expanded="false" data-hint="tooltip"
                   data-original-title="Full RTL Version(right to left writing mode) Version">
                  RTL
                </a>
                <ul class="dropdown-menu">
                  <li><a target="_blank" href="theme_rtl/admin_1/index.html" data-hint="tooltip" data-placement="right"
                         data-original-title="Default Version">Default</a></li>
                  <li><a target="_blank" href="theme_rtl/admin_1_rounded/index.html" data-hint="tooltip"
                         data-placement="right" data-original-title="Rounded Corners Version">Rounded</a></li>
                  <li><a target="_blank" href="theme_rtl/admin_1_angularjs/index.html" data-hint="tooltip"
                         data-placement="right" data-original-title="AngularJS Version">AngularJS</a></li>
                  <li><a target="_blank" href="theme_rtl/admin_1_material_design/index.html" data-hint="tooltip"
                         data-placement="right" data-original-title="Material Design Version">Material</a></li>
                </ul>
              </div>
            </div>
          </div>
          <a target="_blank" href="theme/admin_1/"><img class="img-responsive" src="_start/img/admin1.png" alt=""></a>
        </div>
      </div>
      <div class="col-md-6 margin-bottom-30">
        <div class="widget-body">
          <div class="widget-layout">
            <h3 class="widget-title">Admin 2 - <span class="widget-subtitle">Compact Sidebar</span></h3>
            <div class="btn-group widget-btn-list" role="group" aria-label="...">
              <a class="btn btn-default widget-btn" target="_blank" href="theme/admin_2/index.html" data-hint="tooltip"
                 data-original-title="Default Version">Default</a>
              <a class="btn btn-default widget-btn" target="_blank" href="theme/admin_2_rounded/index.html"
                 data-hint="tooltip" data-original-title="Rounded Corners Version">Rounded</a>
              <a class="btn btn-default widget-btn" target="_blank" href="theme/admin_2_angularjs/index.html"
                 data-hint="tooltip" data-original-title="AngularJS Version">AngularJS</a>
              <a class="btn btn-default widget-btn" target="_blank" href="theme/admin_2_material_design/index.html"
                 data-hint="tooltip" data-original-title="Material Design Version">Material</a>
              <div class="btn-group">
                <a class="btn btn-default widget-btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                   aria-expanded="false" data-hint="tooltip"
                   data-original-title="Full RTL Version(right to left writing mode) Version">
                  RTL
                </a>
                <ul class="dropdown-menu">
                  <li><a target="_blank" href="theme_rtl/admin_2/index.html" data-hint="tooltip" data-placement="right"
                         data-original-title="Default Version">Default</a></li>
                  <li><a target="_blank" href="theme_rtl/admin_2_rounded/index.html" data-hint="tooltip"
                         data-placement="right" data-original-title="Rounded Corners Version">Rounded</a></li>
                  <li><a target="_blank" href="theme_rtl/admin_2_angularjs/index.html" data-hint="tooltip"
                         data-placement="right" data-original-title="AngularJS Version">AngularJS</a></li>
                  <li><a target="_blank" href="theme_rtl/admin_2_material_design/index.html" data-hint="tooltip"
                         data-placement="right" data-original-title="Material Design Version">Material</a></li>
                </ul>
              </div>
            </div>
          </div>
          <a target="_blank" href="theme/admin_2/"><img class="img-responsive" src="_start/img/admin2.png" alt=""></a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 margin-bottom-30">
        <div class="widget-body">
          <div class="widget-layout">
            <h3 class="widget-title">Admin 3 - <span class="widget-subtitle">Horizontal Menu</span></h3>
            <div class="btn-group widget-btn-list" role="group" aria-label="...">
              <a class="btn btn-default widget-btn" target="_blank" href="theme/admin_3/index.html" data-hint="tooltip"
                 data-original-title="Default Version">Default</a>
              <a class="btn btn-default widget-btn" target="_blank" href="theme/admin_3_rounded/index.html"
                 data-hint="tooltip" data-original-title="Rounded Corners Version">Rounded</a>
              <a class="btn btn-default widget-btn" target="_blank" href="theme/admin_3_angularjs/index.html"
                 data-hint="tooltip" data-original-title="AngularJS Version">AngularJS</a>
              <a class="btn btn-default widget-btn" target="_blank" href="theme/admin_3_material_design/index.html"
                 data-hint="tooltip" data-original-title="Material Design Version">Material</a>
              <div class="btn-group">
                <a class="btn btn-default widget-btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                   aria-expanded="false" data-hint="tooltip"
                   data-original-title="Full RTL Version(right to left writing mode) Version">
                  RTL
                </a>
                <ul class="dropdown-menu">
                  <li><a target="_blank" href="theme_rtl/admin_3/index.html" data-hint="tooltip" data-placement="right"
                         data-original-title="Default Version">Default</a></li>
                  <li><a target="_blank" href="theme_rtl/admin_3_rounded/index.html" data-hint="tooltip"
                         data-placement="right" data-original-title="Rounded Corners Version">Rounded</a></li>
                  <li><a target="_blank" href="theme_rtl/admin_3_angularjs/index.html" data-hint="tooltip"
                         data-placement="right" data-original-title="AngularJS Version">AngularJS</a></li>
                  <li><a target="_blank" href="theme_rtl/admin_3_material_design/index.html" data-hint="tooltip"
                         data-placement="right" data-original-title="Material Design Version">Material</a></li>
                </ul>
              </div>
            </div>
          </div>
          <a target="_blank" href="theme/admin_3/"><img class="img-responsive" src="_start/img/admin3.png" alt=""></a>
        </div>
      </div>
      <div class="col-md-6 margin-bottom-30">
        <div class="widget-body">
          <div class="widget-layout">
            <h3 class="widget-title">Admin 4 - <span class="widget-subtitle">Light Sidebar</span></h3>
            <div class="btn-group widget-btn-list" role="group" aria-label="...">
              <a class="btn btn-default widget-btn" target="_blank" href="theme/admin_4/index.html" data-hint="tooltip"
                 data-original-title="Default Version">Default</a>
              <a class="btn btn-default widget-btn" target="_blank" href="theme/admin_4_rounded/index.html"
                 data-hint="tooltip" data-original-title="Rounded Corners Version">Rounded</a>
              <a class="btn btn-default widget-btn" target="_blank" href="theme/admin_4_angularjs/index.html"
                 data-hint="tooltip" data-original-title="AngularJS Version">AngularJS</a>
              <a class="btn btn-default widget-btn" target="_blank" href="theme/admin_4_material_design/index.html"
                 data-hint="tooltip" data-original-title="Material Design Version">Material</a>
              <div class="btn-group">
                <a class="btn btn-default widget-btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                   aria-expanded="false" data-hint="tooltip"
                   data-original-title="Full RTL Version(right to left writing mode) Version">
                  RTL
                </a>
                <ul class="dropdown-menu">
                  <li><a target="_blank" href="theme_rtl/admin_4/index.html" data-hint="tooltip" data-placement="right"
                         data-original-title="Default Version">Default</a></li>
                  <li><a target="_blank" href="theme_rtl/admin_4_rounded/index.html" data-hint="tooltip"
                         data-placement="right" data-original-title="Rounded Corners Version">Rounded</a></li>
                  <li><a target="_blank" href="theme_rtl/admin_4_angularjs/index.html" data-hint="tooltip"
                         data-placement="right" data-original-title="AngularJS Version">AngularJS</a></li>
                  <li><a target="_blank" href="theme_rtl/admin_4_material_design/index.html" data-hint="tooltip"
                         data-placement="right" data-original-title="Material Design Version">Material</a></li>
                </ul>
              </div>
            </div>
          </div>
          <a target="_blank" href="theme/admin_4/"><img class="img-responsive" src="_start/img/admin4.png" alt=""></a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 margin-bottom-30">
        <div class="widget-body">
          <div class="widget-layout">
            <h3 class="widget-title">Admin 5 - <span class="widget-subtitle">Horizontal Tab</span></h3>
            <div class="btn-group widget-btn-list" role="group" aria-label="...">
              <a class="btn btn-default widget-btn" target="_blank" href="theme/admin_5/index.html" data-hint="tooltip"
                 data-original-title="Default Version">Default</a>
              <a class="btn btn-default widget-btn" target="_blank" href="theme/admin_5_rounded/index.html"
                 data-hint="tooltip" data-original-title="Rounded Corners Version">Rounded</a>
              <a class="btn btn-default widget-btn" target="_blank" href="theme/admin_5_material_design/index.html"
                 data-hint="tooltip" data-original-title="Material Design Version">Material</a>
              <div class="btn-group">
                <a class="btn btn-default widget-btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                   aria-expanded="false" data-hint="tooltip"
                   data-original-title="Full RTL Version(right to left writing mode) Version">
                  RTL
                </a>
                <ul class="dropdown-menu">
                  <li><a target="_blank" href="theme_rtl/admin_5/index.html" data-hint="tooltip" data-placement="right"
                         data-original-title="Default Version">Default</a></li>
                  <li><a target="_blank" href="theme_rtl/admin_5_rounded/index.html" data-hint="tooltip"
                         data-placement="right" data-original-title="Rounded Corners Version">Rounded</a></li>
                  <li><a target="_blank" href="theme_rtl/admin_5_material_design/index.html" data-hint="tooltip"
                         data-placement="right" data-original-title="Material Design Version">Material</a></li>
                </ul>
              </div>
            </div>
          </div>
          <a target="_blank" href="theme/admin_5/"><img class="img-responsive" src="_start/img/admin5.png" alt=""></a>
        </div>
      </div>
      <div class="col-md-6 margin-bottom-30">
        <div class="widget-body">
          <div class="widget-layout">
            <h3 class="widget-title">Admin 6 - <span class="widget-subtitle">Web App</span></h3>
            <div class="btn-group widget-btn-list" role="group" aria-label="...">
              <a class="btn btn-default widget-btn" target="_blank" href="theme/admin_6/index.html" data-hint="tooltip"
                 data-original-title="Default Version">Default</a>
              <a class="btn btn-default widget-btn" target="_blank" href="theme/admin_6_rounded/index.html"
                 data-hint="tooltip" data-original-title="Rounded Corners Version">Rounded</a>
              <a class="btn btn-default widget-btn" target="_blank" href="theme/admin_6_material_design/index.html"
                 data-hint="tooltip" data-original-title="Material Design Version">Material</a>
              <div class="btn-group">
                <a class="btn btn-default widget-btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                   aria-expanded="false" data-hint="tooltip"
                   data-original-title="Full RTL Version(right to left writing mode) Version">
                  RTL
                </a>
                <ul class="dropdown-menu">
                  <li><a target="_blank" href="theme_rtl/admin_6/index.html" data-hint="tooltip" data-placement="right"
                         data-original-title="Default Version">Default</a></li>
                  <li><a target="_blank" href="theme_rtl/admin_6_rounded/index.html" data-hint="tooltip"
                         data-placement="right" data-original-title="Rounded Corners Version">Rounded</a></li>
                  <li><a target="_blank" href="theme_rtl/admin_6_material_design/index.html" data-hint="tooltip"
                         data-placement="right" data-original-title="Material Design Version">Material</a></li>
                </ul>
              </div>
            </div>
          </div>
          <a target="_blank" href="theme/admin_6/"><img class="img-responsive" src="_start/img/admin6.png" alt=""></a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 margin-bottom-30">
        <div class="widget-body">
          <div class="widget-layout">
            <h3 class="widget-title">Admin 7 - <span class="widget-subtitle">Dashboard</span></h3>
            <div class="btn-group widget-btn-list" role="group" aria-label="...">
              <a class="btn btn-default widget-btn" target="_blank" href="theme/admin_7/index.html" data-hint="tooltip"
                 data-original-title="Default Version">Default</a>
              <a class="btn btn-default widget-btn" target="_blank" href="theme/admin_7_rounded/index.html"
                 data-hint="tooltip" data-original-title="Rounded Corners Version">Rounded</a>
              <a class="btn btn-default widget-btn" target="_blank" href="theme/admin_7_material_design/index.html"
                 data-hint="tooltip" data-original-title="Material Design Version">Material</a>
              <div class="btn-group">
                <a class="btn btn-default widget-btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                   aria-expanded="false" data-hint="tooltip"
                   data-original-title="Full RTL Version(right to left writing mode) Version">
                  RTL
                </a>
                <ul class="dropdown-menu">
                  <li><a target="_blank" href="theme_rtl/admin_7/index.html" data-hint="tooltip" data-placement="right"
                         data-original-title="Default Version">Default</a></li>
                  <li><a target="_blank" href="theme_rtl/admin_7_rounded/index.html" data-hint="tooltip"
                         data-placement="right" data-original-title="Rounded Corners Version">Rounded</a></li>
                  <li><a target="_blank" href="theme_rtl/admin_7_material_design/index.html" data-hint="tooltip"
                         data-placement="right" data-original-title="Material Design Version">Material</a></li>
                </ul>
              </div>
            </div>
          </div>
          <a target="_blank" href="theme/admin_7/"><img class="img-responsive" src="_start/img/admin7.png" alt=""></a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
      </div>
    </div>
  </div>
</div>
<!-- END WIDGET BANNER -->
<!-- BEGIN CUSTOMER FEEDBACK -->
<div class="container">
  <div class="customer-feedback">
    <h3 class="title-normal" style="margin-bottom: 50px;">LATEST CUSTOMER FEEDBACKS...</h3>

    <div style="">
      <p class="customer-quote">I run a team of 20 product managers, developers, QA and UX resources. Previously we
        designed everything ourselves. For our newest platform we tried out Metronic. I cannot overestimate the impact
        Metronic has had. It's accelerated development 3x and reduced QA issues by 50%. If you add up the reduced need
        for design time/resources, the increase in dev speed and the reduction in QA, it's probably saved us $100,000 on
        this project alone, and I plan to use it for all platforms moving forward. The flexibility of the design has
        also allowed us to put out a better looking and working platform, and reduced my headaches by 90%. <br/>
        Thank you KeenThemes!
      </p>
      <span class="customer-name">JONATHAN BARTLETT, Metronic Customer</span>
    </div>

  </div>
</div>
<!-- END CUSTOMER FEEDBACK -->
<div style="background: #f3f5f6; padding: 80px 0 80px 0">
  <div class="container">
    <div class="row">
      <div class="col-12">
        * All above 7 complete themes will be included in your purchased package. <br>We promise you a perfect
        investment. Take our word for It!
        <br>
        <br>
        <br>
        <a href="http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes"
           target="_blank" class="btn btn-info btn-lg" style="border: 0; border-radius: 0;">
          PURCHASE ALL JUST FOR <b>30$</b> & SAVE THOUSANDS OF HOURS FOR UI/UX CODING!
        </a>
      </div>
    </div>
  </div>
</div>